---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#searchInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myFilter .filter").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<input type="text" id="searchInput" placeholder="Keresés" title="Keresés">


<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  
  <ul>
{%- for i in site.2018_tudomany_unnepe -%}

  <li id="myFilter">
  <div class="filter">
  <h2><a class="post-link" href="{{ i.url | relative_url }}"> {{ i.title | escape }} </a></h2>
  <p> {{ i.tud_tipus | escape }} <br> {{ i.tud_tudomanyterulet | escape }} </p>
  <p id="abcd" data-time="{{ i.tud_idopont | escape }}"> {{ i.tud_idopont | escape }} </p>
  </div>
  </li>
       
{%- endfor -%}
  </ul>
</div>
