---
layout: default
---
<head>
<link rel="stylesheet" href="{{ base.url}}/tudprog/assets/jquery.mobile-1.4.5.min.css" />
<script src="{{ base.url}}/tudprog/assets/jquery-1.11.1.min.js"></script>
<script src="{{ base.url}}/tudprog/assets/jquery.mobile-1.4.5.min.js"></script>
</head>
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  
  <ul id="esemenylista" data-role="listview" data-filter="true" data-filter-placeholder="Keresés..." >
{%- assign items = site.2019_tudomany_unnepe | sort: "datum" -%}
{%- for item in items -%}

  <li>
  
  <a class="rendezveny_title" href="{{ item.url | relative_url }}"> {{ item.title | escape }} </a>
  <p> {{ item.tud_tipus | escape }} <br> {{ item.tud_tudomanyterulet | escape }} </p>
  <p> {{ item.tud_idopont | escape }} </p>
 
  </li>
       
{%- endfor -%}
  </ul>
  
</div>

