---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

#searchInput {
  background-image: url({{'/assets/images/searchicon.png' | relative_url}});
  background-position: right;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
 
}


.post-title{
	font-size:38px;
}
.post-header li{
  list-style-type: none;
   

}
.post-header ul{
  margin-left:0px; 

}

.bold{
  font-weight:bold;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: 5px;
}

.slogen-header{
    font-size:12px;
	line-height:54px;
	float:left;
	margin-bottom:0px;
	margin-left:10px;
	padding-top:5px;
}

.slogen-footer{
    font-size:12px;
	
}


.ui-page-theme-a .ui-body-inherit{
	box-shadow: 0 0 12px #38c !important;
	color: #000 !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #343333 !important;
  opacity: 1; /* Firefox */
}

a.ui-link{
  color:yellow !important;
}

/**

mobileJquery

*/
.ui-page-theme-a a {

font-weight:normal !important;
}

.ui-page-theme-a a  {
  color:#333 !important;

}

a.rendezveny_title{
  font-size:24px;
}

.ui-btn{
  white-space: normal !important;
  padding-left: 0px !important;
}

.ui-listview > li p{
  font-size:14px !important;
}

.ui-page-theme-a .ui-btn.ui-btn-active{
  background-color:#ffff !important;
  border-color:#ffff !important;
  text-shadow:none !important;
}

